/* setup things here that are base styles */
.x-form .x-scroll-container {
	background-color: rgb(220,220,220) !important;
}

/* some basic login stuff */
.login-screen {
  margin: 35px auto;
  width: 300px;
  @media all and (min-device-width : 768px) and (max-device-width : 1024px) {
  margin: 150px auto;
  }
  @media all and (max-width: 320px) {
    width: 285px;
  }
}