.x-toolbar-dark .x-button {
	background: #33485f;
	border-radius: 6px;
	border: none;
	height: 30px;
	&.x-button-pressing {
		background: #6184a9;
	}
}

/* confirm button is the */
.x-button.x-button-confirm, {
	background: #1aaf5d;
	background-image: none;
	border: none;
	border-radius: 4px;
	padding: 10px;
	&.x-button-pressing {
		background: #16974f;
	}
}

.x-button.x-button-action {
	background: #33485f;
	border-radius: 0px;
	border: none;
	height: 30px;
}
.x-toolbar .x-button.x-button-action-small.x-button-forward:after {
	background: #33485f;
}
.x-button-back:before {
	background: #33485f;
}

.mobile-add-contact-group-button, 
.mobile-add-contact-button
  {
	background: none !important;
	border: none !important;
	&:before {
		font-family: "FontAwesome";
		content: "\f067";
		color: #b53428;
	}
	&.x-button-pressing {
		&:before {
			color: darken(#b53428,5);
		}		
	}
}

/* back button */
.mobile-cancel-groups-button,
.mobile-cancel-contact-button,
.mobile-cancel-add-contact-button,
.mobile-cancel-edit-contact-button,
.mobile-cancel-groups-editor-button {
	background: none !important;
	border: none !important;
	&:before {
		font-family: "FontAwesome";
		content: "\f060";
		color: #b53428;
	}
	&.x-button-pressing {
		&:before {
			color: #6184a9;
		}		
	}	
}

/* swipe to delete button */
.swipe-delete-button {
	@include border-radius(3px);
	background-color: #e94b35 !important;
	border: none !important;
	background-image: none !important;
}

.mobile-save-contact-group-button,
.mobile-cancel-groups-editor-button {
	height: 30px;
}