::-webkit-input-placeholder {
  color: #afb8c3
}

.x-form-field {
  border: 1px solid rgba(236, 240, 241, 0);
  background: white;
  color: #42566b;
  &:focus {
    @include transition(all .2s ease);
    border: 1px solid rgba(60, 122, 235, 1.0);
  }
}

.x-toolbar .x-form-field {
  padding: 0em 1.3em;
}

.x-form-fieldset .x-form-fieldset-inner {
  background: transparent;
  margin-bottom: 5px;
  border: none;
  .x-field {
    border: none;
    margin-bottom: 5px;
    &.login-input {
      margin-bottom: 0;
    }
  }
}

.x-form-fieldset-title {
  margin-left: 3px;
  margin-bottom: 10px;
  text-shadow: none !important;
  .x-innerhtml {
    font-weight: 300;
    color: #00bd9c;
    font-size: 20px;
    margin-bottom: 5px;
  }
}