// Behind the list
.x-list {
  background: #FFF;
}
.x-list-normal .x-list-header {
  background-color : '#999';
}

.x-list-normal .x-list-item .x-dock-horizontal {
  border-top: 2px solid #2c3f51;
}

.x-list-normal .x-list-item.x-list-footer-wrap .x-dock-horizontal {
  border-bottom: 2px solid #2c3f51;
}

.x-list-item-body { 
  padding: 12px;
}

// List items
.x-list-item {
  background: #FFF;
  .x-list-item-inner {
    color: #000;
    font-weight: 300;
  }

  &.x-item-selected {
    background-image: none;
    background: #DDD;
    box-shadow: none;
    border: none;
    .x-list-item-inner {
      color: #b53428;
    }
  }
}
// Letter header
.x-list-normal .x-list-header-wrap .x-item-header, .x-list-normal .x-list-header {
  border-top: none;
  border-bottom: none;
  text-shadow: none;
}

// Swapped letter header
.x-list-header-swap {
  background: #EEE !important;
  background-color: #EEE !important;
  background-image: #EEE !important;
}

// Letter header - Background
.x-list-grouped .x-list-header-wrap .x-list-header {
  background: #EEE;
  color: #6184a9;
}

.x-list-normal .x-list-item.x-list-footer-wrap .x-dock-horizontal {
  border-bottom: #EEE;
}

.x-list-normal .x-list-item .x-dock-horizontal {
  border-top: 1px solid #EEE;
}

// Pressed down
.x-list-normal .x-list-item.x-item-pressed .x-dock-horizontal {
  background-image: none;
  background: #3c7aeb;
  box-shadow: none;
  border-color: #3c7aeb;
  .x-list-item-inner {
    color: #FFF;
  }   
}

// Selected
.x-list .x-list-item.x-item-selected .x-dock-horizontal {
  background-image: none;
  background: #EEE;
  box-shadow: none;
  border-color: #EEE;
  text-shadow: none;
  .x-list-item-inner {
    color: darken(#3c7aeb, 10);
  }
}

.x-list .x-list-item.x-item-selected .x-dock-horizontal {
  text-shadow: none;
}


// Letter scroller
.x-indexbar>div {
  color: #000;
  padding-bottom: 4px;
}
.x-indexbar-pressed {
  background: rgba(200, 200, 200, 0.8);
}

// Scroller
.x-scroll-indicator {
  background: rgb(194, 194, 194);
}



