.x-toolbar {
  background-image: none;
  background: #DDD;
  border: none !important;
  box-shadow: none !important;
  &.x-docked-top {
    border: none;
  }
  .x-field-input {
    padding-right: 0px !important;
  }
}

.x-title .x-innerhtml {
  text-shadow: none;
  color: #222;
  font-size: 20px;
  font-weight: 400;
}