.x-toolbar {
  background-image: none;
  background: #DDD;
  border: none !important;
  box-shadow: none !important;
  &.x-docked-top {
    border: none;
  }
  .x-field-input {
    padding-right: 0px !important;
  }
}

.x-toolbar-dark {
  border-color: transparent;
}

.x-title .x-innerhtml {
  text-shadow: none;
  color: #222;
  font-size: 20px;
  font-weight: 400;
}

.main-titlebar {
  background: rgb(139, 139, 139);
  border: none;
  .x-innerhtml {
    color: white !important;
    font-weight: 700; 
  }
}

.x-title .x-innerhtml {
  text-shadow: none;
  color: #000;
  font-weight: 500;
}