@mixin toolbarButton($color) {
  background: $color;
  border: none;
  background-image: none;
  padding: 5px 8px;  
  .x-btn-inner {
    color: white !important;
    font: {
      weight: bold !important;
      size: 13px; 
    }
    padding: 0px 5px !important;
  }
  &.x-btn-disabled {
    background: #bac4c5;
  }
  &.x-btn-over {
    border: none;
    background: lighten($color, 5);
  }
  &.x-btn-pressed {
    background: darken($color, 5); 
  }
}

@mixin mainButton($color) {
  background: $color !important;
  border: none !important;
  background-image: none !important;
  padding: 8px 10px !important;  
  .x-btn-inner {
    color: white !important;
    font: {
      weight: bold !important;
      size: 13px !important; 
    }
    padding: 0px 5px !important;
  }
  &.x-btn-disabled {
    background: #bac4c5 !important;
  }
  &.x-btn-over {
    border: none;
    background: lighten($color, 5) !important;
  }
  &.x-btn-pressed {
    background: darken($color, 5) !important; 
  }
}

.toolbar-button {
  &.add     { @include toolbarButton(#009048) }
  &.edit    { @include toolbarButton(#3c7aeb) }
  &.delete  { @include toolbarButton(#b53428) }
  .x-menu-item-text {
    font-size: 16px;
    text-align: center;
    color: #fff;
  }
  .x-menu-item-link {
    text-align: center;
    padding: 6px 0px 3px 0px;
    background-image: none !important;
    background-color: transparent !important;
    border: none !important;
    &.x-menu-item-active {
      background: #000 !important;
    }
  }
}

.x-btn-default-small-noicon {
  background: #3c7aeb !important;
}

.x-btn-default-small .x-btn-inner {
  color: #fff !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}