@mixin toolbarButton($color) {
  background: $color;
  border: none;
  background-image: none;
  padding: 5px 8px;  
  .x-btn-inner {
    color: white !important;
    font: {
      weight: bold !important;
      size: 13px; 
    }
    padding: 0px 5px !important;
  }
  &.x-btn-disabled {
    background: #bac4c5;
  }
  &.x-btn-over {
    border: none;
    background: lighten($color, 10);
  }
  &.x-btn-pressed {
    background: darken($color, 5); 
  }
}

@mixin mainButton($color) {
  background: $color !important;
  border: none !important;
  background-image: none !important;
  padding: 8px 10px !important;  
  .x-btn-inner {
    color: white !important;
    font: {
      weight: bold !important;
      size: 13px !important; 
    }
    padding: 0px 5px !important;
  }
  &.x-btn-disabled {
    background: #bac4c5 !important;
  }
  &.x-btn-over {
    border: none;
    background: lighten($color, 5) !important;
  }
  &.x-btn-pressed {
    background: darken($color, 5) !important; 
  }
}

.toolbar-button {
  &.add     { @include toolbarButton(#1aaf5d) }
  &.edit    { @include toolbarButton(#3373f2) }
  &.delete  { @include toolbarButton(#e94b35) }
}