/* setup variables */
$grid-row-cell-line-height: 20px;
$grid-row-cell-selected-background-color: #3877ee;
$grid-row-cell-selected-border-style: solid;
$grid-row-cell-over-background-color: #f1f1f1;

/* custom styles */
.x-column-header-text {
  font-weight: 800;
}

.x-column-header { 
  background-image: none !important;
  background: #f4f4f4 !important;
  border: none !important;
  text-shadow: none !important;
}

.x-column-header-inner {
  &.x-column-header-over {
    background-image: none !important;
    background: #e4e4e4 !important;
  }
}

.x-grid-header-ct {
  border: none !important;
  background-image: none !important;
  background-color: transparent !important;
}

.x-panel .x-grid-body {
  border-top-color: rgb(214, 214, 214) !important;
}

.x-grid-row-over {
  .x-grid-cell {
    border-color: transparent !important;
  }
}

.x-grid-row-selected {
  .x-grid-cell {
    border-color: transparent !important;
  }
  .x-grid-cell-inner {
    color: white;
  }
}

.x-border-box .x-form-text {
  border: 1px solid #ddd;
  -webkit-transition: all .2s ease;
  &:focus {
    border: 1px solid rgba(60, 122, 235, 1.0);
  }
}