/* main tab panel */
.main-tabs {
  margin-top: 20px;
  .x-tab {
    @include border-radius(3px);
    padding: 3px 6px;
    height: 33px !important;
    border: 1px solid transparent !important;
    background: none;
    box-shadow: none !important;
    .x-tab-inner {
      color: rgb(114, 114, 114) !important;
      font-weight: bold;
      font-size: 15px !important;
    }
    .x-tab-icon {
      color: rgb(165, 165, 165) !important;
      margin-top: 5px;
      margin-right: 5px;      
    }
    &.x-tab-active {
      background: #bac4c5;
      border: 1px solid transparent !important;
      .x-tab-inner {
        color: white !important;
      }
      .x-tab-icon {
        color: white !important;
      }
    }
  }
  .x-tab-bar-strip {
    border: none;
    background: none;
    height: 0;
  }
  .x-tab-bar {
    background-image: none;
    background: white; 
  }
  .x-tab-bar-body {
    border-color: transparent;
    height: auto !important;
    margin-bottom: 15px;
  }
  /* replace these with not awful famfamfam icons */
  .x-tab-icon {
    &.contacts::before { 
      @include FontAwesomeIcon;
      content: $icon-user;
    }
    &.groups::before { 
      @include FontAwesomeIcon;
      content: $icon-group;
    }    
  }

  // paging arrows
  .x-btn-icon {
    background-image: none !important;
    &.x-tbar-page-next::before {
      @include FontAwesomeIcon;
      content: $icon-angle-right;
    }
    &.x-tbar-page-last::before {
      @include FontAwesomeIcon;
      content: $icon-double-angle-right;
    }
    &.x-tbar-page-prev::before {
      @include FontAwesomeIcon;
      content: $icon-angle-left;
    }
    &.x-tbar-page-first::before {
      @include FontAwesomeIcon;
      content: $icon-double-angle-left;
    }
    &.x-item-disabled,
    &.x-tbar-page-first,
    &.x-tbar-page-prev,
    &.x-tbar-page-next,
    &.x-tbar-page-last {
      background-image: none !important;
    }
  }
}

.x-tool {
  background-image: none !important;
  &.img {
    @include FontAwesomeIcon;
    content: $icon-remove;
  }
}

.x-toolbar-separator-horizontal {
  border-left: 1px solid #999 !important;
  border-right: 1px solid #fff !important;
}

/* the actual tabbed content */
.main-tabs {
  .x-tabpanel-child {
    margin-top: 15px;    
  }
  .x-toolbar-docked-top {
    background: none;
    margin-bottom: 15px !important;
  }
}