/* main tab panel */
.main-tabs {
  margin-top: 20px;
  .x-tab {
    @include border-radius(0px);
    position: relative;
    top: 11px;
    padding: 3px 6px;
    height: 40px !important;
    border: none !important;
    background: none;
    box-shadow: none !important;
    .x-tab-inner {
      // @include text-shadow(0px 1px $baseWhite);
      height: 18px !important;
      color: #444 !important;
      font-weight: bold;
      font-size: 13px !important;
    }
    .x-tab-icon {
      color: rgb(165, 165, 165) !important;
      margin-top: 5px;
      margin-right: 5px;      
    }
    &.x-tab-active {
      background: #f4f4f4;
      border: 1px solid #dfdfdf !important;
    }
  }
  .x-tab-bar-strip {
    border: none;
    background: none;
    height: 0;
  }
  .x-tab-bar {
    background-image: none;
    background: white; 
  }
  .x-tab-bar-body {
    border-color: transparent;
    height: auto !important;
    margin-bottom: 15px;
  }
  /* replace these with not awful famfamfam icons */
  .x-tab-icon {
    &.contacts::before { 
      @include FontAwesomeIcon;
      content: $icon-user;
    }
    &.groups::before { 
      @include FontAwesomeIcon;
      content: $icon-group;
    }    
  }
}

/* the actual tabbed content */
.main-tabs {
  .x-tabpanel-child {
    margin-top: 15px;    
  }
  .x-toolbar-docked-top {
    background: none;
  }
}