$loadmask-backgorund: #eee;

$window-border-width: 0px;
$window-border-color: transparent;
// $window-inner-border-width: 0px;
$window-inner-border-color: transparent;
// $window-background-color: adjust-color($window-base-color, $hue: 0.267deg, $saturation: -21.309%, $lightness: 1.569%);

// $window-body-border-width: 1px;
// $window-body-border-style: solid;
// $window-body-border-color: adjust-color($window-base-color, $hue: 0.844deg, $saturation: 7.644%, $lightness: -8.627%);
// $window-body-background-color: adjust-color($window-base-color, $hue: 3.188deg, $saturation: 0.542%, $lightness: 7.843%);
// $window-body-color: #000;

// $window-header-padding: 5px 5px 0;
$window-header-font-size: 15px;
$window-header-line-height: 25px;
$window-header-color: #444;
// $window-header-font-weight: bold;