/*
Syntax error: Invalid CSS after "...nd-size : cover": expected ";", was "=;"
        on line 43 of app.scss

38:   -webkit-font-smoothing : antialiased;
39: }
40: 
41: @mixin photo {
42:   @include border-radius(5px);
43:   background-size : cover=;
44:   display         : inline-block;
45:   vertical-align  : middle;
46:   margin-right    : 10px;
47: }
48: 

Backtrace:
app.scss:43
/Library/Ruby/Gems/1.8/gems/sass-3.2.6/bin/../lib/sass/../sass/scss/parser.rb:1148:in `expected'
/Library/Ruby/Gems/1.8/gems/sass-3.2.6/bin/../lib/sass/../sass/scss/parser.rb:1084:in `expected'
/Library/Ruby/Gems/1.8/gems/sass-3.2.6/bin/../lib/sass/../sass/scss/parser.rb:1079:in `tok!'
/Library/Ruby/Gems/1.8/gems/sass-3.2.6/bin/../lib/sass/../sass/scss/parser.rb:586:in `declaration_or_ruleset'
/Library/Ruby/Gems/1.8/gems/sass-3.2.6/bin/../lib/sass/../sass/scss/parser.rb:1122:in `call'
/Library/Ruby/Gems/1.8/gems/sass-3.2.6/bin/../lib/sass/../sass/scss/parser.rb:1122:in `rethrow'
/Library/Ruby/Gems/1.8/gems/sass-3.2.6/bin/../lib/sass/../sass/scss/parser.rb:592:in `declaration_or_ruleset'
/Library/Ruby/Gems/1.8/gems/sass-3.2.6/bin/../lib/sass/../sass/scss/parser.rb:554:in `block_child'
/Library/Ruby/Gems/1.8/gems/sass-3.2.6/bin/../lib/sass/../sass/scss/parser.rb:546:in `block_contents'
/Library/Ruby/Gems/1.8/gems/sass-3.2.6/bin/../lib/sass/../sass/scss/parser.rb:535:in `block'
/Library/Ruby/Gems/1.8/gems/sass-3.2.6/bin/../lib/sass/../sass/scss/parser.rb:187:in `mixin_directive'
/Library/Ruby/Gems/1.8/gems/sass-3.2.6/bin/../lib/sass/../sass/scss/parser.rb:175:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.2.6/bin/../lib/sass/../sass/scss/parser.rb:175:in `special_directive'
/Library/Ruby/Gems/1.8/gems/sass-3.2.6/bin/../lib/sass/../sass/scss/parser.rb:147:in `directive'
/Library/Ruby/Gems/1.8/gems/sass-3.2.6/bin/../lib/sass/../sass/scss/parser.rb:553:in `block_child'
/Library/Ruby/Gems/1.8/gems/sass-3.2.6/bin/../lib/sass/../sass/scss/parser.rb:546:in `block_contents'
/Library/Ruby/Gems/1.8/gems/sass-3.2.6/bin/../lib/sass/../sass/scss/parser.rb:82:in `stylesheet'
/Library/Ruby/Gems/1.8/gems/sass-3.2.6/bin/../lib/sass/../sass/scss/parser.rb:27:in `parse'
/Library/Ruby/Gems/1.8/gems/sass-3.2.6/bin/../lib/sass/../sass/engine.rb:342:in `_to_tree'
/Library/Ruby/Gems/1.8/gems/sass-3.2.6/bin/../lib/sass/../sass/engine.rb:315:in `_render'
/Library/Ruby/Gems/1.8/gems/sass-3.2.6/bin/../lib/sass/../sass/engine.rb:262:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.2.6/bin/../lib/sass/../sass/plugin/compiler.rb:341:in `update_stylesheet'
/Library/Ruby/Gems/1.8/gems/sass-3.2.6/bin/../lib/sass/../sass/plugin/compiler.rb:203:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.2.6/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `each'
/Library/Ruby/Gems/1.8/gems/sass-3.2.6/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.2.6/bin/../lib/sass/../sass/plugin.rb:81:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.2.6/bin/../lib/sass/../sass/exec.rb:424:in `watch_or_update'
/Library/Ruby/Gems/1.8/gems/sass-3.2.6/bin/../lib/sass/../sass/exec.rb:307:in `process_result'
/Library/Ruby/Gems/1.8/gems/sass-3.2.6/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/Library/Ruby/Gems/1.8/gems/sass-3.2.6/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/Library/Ruby/Gems/1.8/gems/sass-3.2.6/bin/scss:9
/usr/bin/scss:19:in `load'
/usr/bin/scss:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...nd-size : cover\": expected \";\", was \"=;\"\A         on line 43 of app.scss\A \A 38:   -webkit-font-smoothing : antialiased;\A 39: }\A 40: \A 41: @mixin photo {\A 42:   @include border-radius(5px);\A 43:   background-size : cover=;\A 44:   display         : inline-block;\A 45:   vertical-align  : middle;\A 46:   margin-right    : 10px;\A 47: }\A 48: "; }
