/* setup some variables */
$boundlist-background-color: red;

$include-form-sliders : false;
$include-top-tabs : false;
$include-bottom-tabs : true ! default;

$font-family: 'Lato', sans-serif;

/* setup some colors */
$darkBlue: #34495e;
$lightBlue: #5dade2;
$baseRed: #e74c3c;

@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-form;
@include sencha-msgbox;



html {
  -webkit-font-smoothing : antialiased;
}

/* setup our includes */
@import "include/fontAwesome";
@import "include/base";
@import "include/list";
@import "include/toolbar";
@import "include/search";
@import "include/form";
@import "include/card";
@import "include/button";

@mixin photo {
  @include border-radius(5px);
  background-size : cover;
  display         : inline-block;
  vertical-align  : middle;
  margin-right    : 10px;
}

.header-logo {
  background-size   : 170px 35px;
  background-repeat : no-repeat;
  width             : 170px;
  height            : 35px;
}


// list view of employees
.employee_photo {
  @include photo;
  width  : 60px;
  height : 60px;
}

.first_name {
  font-weight: 400;
}

.last_name {
  font-weight : 800;
}

.info-clear {
  margin-bottom: 10px;
}

.back-button {
  margin-left: 0.528em !important;
}

@include sencha-toolbar-ui('search', #F5F5F5, 'glossy');
